USE [master]
GO
/****** Object:  Database [sales_db2]    Script Date: 4/12/2026 3:57:07 PM ******/
CREATE DATABASE [sales_db2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sales_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\Backup\sales_db2.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sales_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\Backup\sales_db2_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sales_db2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sales_db2]
GO
/****** Object:  Table [dbo].[dim_categories]    Script Date: 4/12/2026 3:57:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_categories](
	[category_id] [int] NOT NULL,
	[segment_name] [nvarchar](50) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
	[subcategory_name] [nvarchar](50) NOT NULL,
	[parent_category_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [date] NOT NULL,
 CONSTRAINT [PK_dim_categories] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_customers]    Script Date: 4/12/2026 3:57:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_customers](
	[customer_id] [int] NOT NULL,
	[customer_code] [varchar](50) NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[billing_address] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[postal_code] [nvarchar](50) NULL,
	[country_name] [nvarchar](50) NOT NULL,
	[credit_limit] [int] NOT NULL,
	[account_tier] [nvarchar](50) NOT NULL,
	[is_active] [bit] NOT NULL,
	[region_id] [int] NOT NULL,
	[created_at] [date] NOT NULL,
 CONSTRAINT [PK_dim_customers] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_date]    Script Date: 4/12/2026 3:57:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_date](
	[date_id] [int] NOT NULL,
	[full_date] [date] NOT NULL,
	[year_num] [int] NOT NULL,
	[quarter_num] [int] NOT NULL,
	[month_num] [int] NOT NULL,
	[month_name] [varchar](20) NOT NULL,
	[week_num] [int] NOT NULL,
	[day_num] [int] NOT NULL,
	[day_name] [varchar](20) NOT NULL,
	[is_business_day] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[date_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[full_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_products]    Script Date: 4/12/2026 3:57:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_products](
	[product_id] [int] NOT NULL,
	[sku] [int] NOT NULL,
	[product_name] [nvarchar](50) NOT NULL,
	[category_id] [int] NOT NULL,
	[unit_cost] [float] NOT NULL,
	[list_price] [float] NOT NULL,
	[stock_quantity] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [date] NOT NULL,
 CONSTRAINT [PK_dim_products] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_regions]    Script Date: 4/12/2026 3:57:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_regions](
	[region_id] [int] NOT NULL,
	[country_name] [nvarchar](50) NOT NULL,
	[region_name] [nvarchar](50) NOT NULL,
	[territory_name] [nvarchar](50) NOT NULL,
	[country_code] [nvarchar](50) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [date] NOT NULL,
 CONSTRAINT [PK_dim_regions] PRIMARY KEY CLUSTERED 
(
	[region_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_sales_reps]    Script Date: 4/12/2026 3:57:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_sales_reps](
	[sales_rep_id] [int] NOT NULL,
	[employee_code] [int] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[hire_date] [date] NOT NULL,
	[base_salary] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[region_id] [int] NOT NULL,
	[created_at] [date] NOT NULL,
 CONSTRAINT [PK_dim_sales_reps] PRIMARY KEY CLUSTERED 
(
	[sales_rep_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_order_line_items]    Script Date: 4/12/2026 3:57:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_order_line_items](
	[line_item_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[line_number] [tinyint] NOT NULL,
	[quantity] [tinyint] NOT NULL,
	[unit_price] [float] NOT NULL,
	[discount_amount] [float] NOT NULL,
	[line_total] [float] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[discount_pct] [decimal](5, 2) NULL,
 CONSTRAINT [PK_fact_order_line_items] PRIMARY KEY CLUSTERED 
(
	[line_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_quotas]    Script Date: 4/12/2026 3:57:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_quotas](
	[quota_id] [int] NOT NULL,
	[sales_rep_id] [int] NOT NULL,
	[region_id] [int] NOT NULL,
	[date_id] [int] NOT NULL,
	[quota_period_type] [varchar](20) NOT NULL,
	[quota_target] [decimal](14, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[quota_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_returns]    Script Date: 4/12/2026 3:57:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_returns](
	[return_id] [int] NOT NULL,
	[line_item_id] [int] NOT NULL,
	[return_date_id] [int] NOT NULL,
	[return_quantity] [int] NOT NULL,
	[return_reason_code] [varchar](50) NOT NULL,
	[credit_note_number] [varchar](30) NOT NULL,
	[credit_note_value] [decimal](14, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[return_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_sales_orders]    Script Date: 4/12/2026 3:57:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_sales_orders](
	[order_id] [int] NOT NULL,
	[order_number] [nvarchar](50) NOT NULL,
	[customer_id] [int] NOT NULL,
	[sales_rep_id] [int] NOT NULL,
	[region_id] [int] NOT NULL,
	[order_status] [nvarchar](50) NOT NULL,
	[payment_terms] [nvarchar](50) NOT NULL,
	[currency_code] [nvarchar](50) NOT NULL,
	[gross_total] [float] NOT NULL,
	[discount_total] [float] NOT NULL,
	[net_total] [float] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[order_date_id] [int] NULL,
	[shipping_date_id] [int] NULL,
 CONSTRAINT [PK_fact_sales_orders] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_promotions]    Script Date: 4/12/2026 3:57:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_promotions](
	[promotion_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[promotion_name] [varchar](150) NOT NULL,
	[discount_pct] [decimal](5, 2) NOT NULL,
	[start_date_id] [int] NOT NULL,
	[end_date_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rep_customer_assignments]    Script Date: 4/12/2026 3:57:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rep_customer_assignments](
	[assignment_id] [int] NOT NULL,
	[sales_rep_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[start_date_id] [int] NOT NULL,
	[end_date_id] [int] NULL,
	[is_primary_rep] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_quotas] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[fact_returns] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product_promotions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[product_promotions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[rep_customer_assignments] ADD  DEFAULT ((1)) FOR [is_primary_rep]
GO
ALTER TABLE [dbo].[rep_customer_assignments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[dim_customers]  WITH CHECK ADD  CONSTRAINT [fk_customer_region] FOREIGN KEY([region_id])
REFERENCES [dbo].[dim_regions] ([region_id])
GO
ALTER TABLE [dbo].[dim_customers] CHECK CONSTRAINT [fk_customer_region]
GO
ALTER TABLE [dbo].[dim_products]  WITH CHECK ADD  CONSTRAINT [fk_product_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[dim_categories] ([category_id])
GO
ALTER TABLE [dbo].[dim_products] CHECK CONSTRAINT [fk_product_category]
GO
ALTER TABLE [dbo].[dim_sales_reps]  WITH CHECK ADD  CONSTRAINT [fk_salesrep_region] FOREIGN KEY([region_id])
REFERENCES [dbo].[dim_regions] ([region_id])
GO
ALTER TABLE [dbo].[dim_sales_reps] CHECK CONSTRAINT [fk_salesrep_region]
GO
ALTER TABLE [dbo].[fact_order_line_items]  WITH CHECK ADD  CONSTRAINT [fk_line_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[fact_sales_orders] ([order_id])
GO
ALTER TABLE [dbo].[fact_order_line_items] CHECK CONSTRAINT [fk_line_order]
GO
ALTER TABLE [dbo].[fact_order_line_items]  WITH CHECK ADD  CONSTRAINT [fk_line_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[dim_products] ([product_id])
GO
ALTER TABLE [dbo].[fact_order_line_items] CHECK CONSTRAINT [fk_line_product]
GO
ALTER TABLE [dbo].[fact_quotas]  WITH CHECK ADD  CONSTRAINT [fk_quota_date] FOREIGN KEY([date_id])
REFERENCES [dbo].[dim_date] ([date_id])
GO
ALTER TABLE [dbo].[fact_quotas] CHECK CONSTRAINT [fk_quota_date]
GO
ALTER TABLE [dbo].[fact_quotas]  WITH CHECK ADD  CONSTRAINT [fk_quota_region] FOREIGN KEY([region_id])
REFERENCES [dbo].[dim_regions] ([region_id])
GO
ALTER TABLE [dbo].[fact_quotas] CHECK CONSTRAINT [fk_quota_region]
GO
ALTER TABLE [dbo].[fact_quotas]  WITH CHECK ADD  CONSTRAINT [fk_quota_salesrep] FOREIGN KEY([sales_rep_id])
REFERENCES [dbo].[dim_sales_reps] ([sales_rep_id])
GO
ALTER TABLE [dbo].[fact_quotas] CHECK CONSTRAINT [fk_quota_salesrep]
GO
ALTER TABLE [dbo].[fact_returns]  WITH CHECK ADD  CONSTRAINT [fk_return_date] FOREIGN KEY([return_date_id])
REFERENCES [dbo].[dim_date] ([date_id])
GO
ALTER TABLE [dbo].[fact_returns] CHECK CONSTRAINT [fk_return_date]
GO
ALTER TABLE [dbo].[fact_returns]  WITH CHECK ADD  CONSTRAINT [fk_return_line] FOREIGN KEY([line_item_id])
REFERENCES [dbo].[fact_order_line_items] ([line_item_id])
GO
ALTER TABLE [dbo].[fact_returns] CHECK CONSTRAINT [fk_return_line]
GO
ALTER TABLE [dbo].[fact_sales_orders]  WITH CHECK ADD  CONSTRAINT [fk_order_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[dim_customers] ([customer_id])
GO
ALTER TABLE [dbo].[fact_sales_orders] CHECK CONSTRAINT [fk_order_customer]
GO
ALTER TABLE [dbo].[fact_sales_orders]  WITH CHECK ADD  CONSTRAINT [fk_order_orderdate] FOREIGN KEY([order_date_id])
REFERENCES [dbo].[dim_date] ([date_id])
GO
ALTER TABLE [dbo].[fact_sales_orders] CHECK CONSTRAINT [fk_order_orderdate]
GO
ALTER TABLE [dbo].[fact_sales_orders]  WITH CHECK ADD  CONSTRAINT [fk_order_region] FOREIGN KEY([region_id])
REFERENCES [dbo].[dim_regions] ([region_id])
GO
ALTER TABLE [dbo].[fact_sales_orders] CHECK CONSTRAINT [fk_order_region]
GO
ALTER TABLE [dbo].[fact_sales_orders]  WITH CHECK ADD  CONSTRAINT [fk_order_salesrep] FOREIGN KEY([sales_rep_id])
REFERENCES [dbo].[dim_sales_reps] ([sales_rep_id])
GO
ALTER TABLE [dbo].[fact_sales_orders] CHECK CONSTRAINT [fk_order_salesrep]
GO
ALTER TABLE [dbo].[fact_sales_orders]  WITH CHECK ADD  CONSTRAINT [fk_order_shipdate] FOREIGN KEY([shipping_date_id])
REFERENCES [dbo].[dim_date] ([date_id])
GO
ALTER TABLE [dbo].[fact_sales_orders] CHECK CONSTRAINT [fk_order_shipdate]
GO
ALTER TABLE [dbo].[product_promotions]  WITH CHECK ADD  CONSTRAINT [fk_promo_enddate] FOREIGN KEY([end_date_id])
REFERENCES [dbo].[dim_date] ([date_id])
GO
ALTER TABLE [dbo].[product_promotions] CHECK CONSTRAINT [fk_promo_enddate]
GO
ALTER TABLE [dbo].[product_promotions]  WITH CHECK ADD  CONSTRAINT [fk_promo_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[dim_products] ([product_id])
GO
ALTER TABLE [dbo].[product_promotions] CHECK CONSTRAINT [fk_promo_product]
GO
ALTER TABLE [dbo].[product_promotions]  WITH CHECK ADD  CONSTRAINT [fk_promo_startdate] FOREIGN KEY([start_date_id])
REFERENCES [dbo].[dim_date] ([date_id])
GO
ALTER TABLE [dbo].[product_promotions] CHECK CONSTRAINT [fk_promo_startdate]
GO
ALTER TABLE [dbo].[rep_customer_assignments]  WITH CHECK ADD  CONSTRAINT [fk_assignment_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[dim_customers] ([customer_id])
GO
ALTER TABLE [dbo].[rep_customer_assignments] CHECK CONSTRAINT [fk_assignment_customer]
GO
ALTER TABLE [dbo].[rep_customer_assignments]  WITH CHECK ADD  CONSTRAINT [fk_assignment_enddate] FOREIGN KEY([end_date_id])
REFERENCES [dbo].[dim_date] ([date_id])
GO
ALTER TABLE [dbo].[rep_customer_assignments] CHECK CONSTRAINT [fk_assignment_enddate]
GO
ALTER TABLE [dbo].[rep_customer_assignments]  WITH CHECK ADD  CONSTRAINT [fk_assignment_salesrep] FOREIGN KEY([sales_rep_id])
REFERENCES [dbo].[dim_sales_reps] ([sales_rep_id])
GO
ALTER TABLE [dbo].[rep_customer_assignments] CHECK CONSTRAINT [fk_assignment_salesrep]
GO
ALTER TABLE [dbo].[rep_customer_assignments]  WITH CHECK ADD  CONSTRAINT [fk_assignment_startdate] FOREIGN KEY([start_date_id])
REFERENCES [dbo].[dim_date] ([date_id])
GO
ALTER TABLE [dbo].[rep_customer_assignments] CHECK CONSTRAINT [fk_assignment_startdate]
GO
ALTER TABLE [dbo].[dim_date]  WITH CHECK ADD CHECK  (([day_num]>=(1) AND [day_num]<=(31)))
GO
ALTER TABLE [dbo].[dim_date]  WITH CHECK ADD CHECK  (([month_num]>=(1) AND [month_num]<=(12)))
GO
ALTER TABLE [dbo].[dim_date]  WITH CHECK ADD CHECK  (([quarter_num]>=(1) AND [quarter_num]<=(4)))
GO
ALTER TABLE [dbo].[dim_date]  WITH CHECK ADD CHECK  (([week_num]>=(1) AND [week_num]<=(53)))
GO
ALTER TABLE [dbo].[fact_quotas]  WITH CHECK ADD CHECK  (([quota_target]>(0)))
GO
ALTER TABLE [dbo].[fact_returns]  WITH CHECK ADD CHECK  (([credit_note_value]>=(0)))
GO
ALTER TABLE [dbo].[fact_returns]  WITH CHECK ADD CHECK  (([return_quantity]>(0)))
GO
ALTER TABLE [dbo].[product_promotions]  WITH CHECK ADD CHECK  (([discount_pct]>=(0) AND [discount_pct]<=(1)))
GO
USE [master]
GO
